---
import { getCollection } from 'astro:content';
import MainLayout from '../../layout/Layout.astro';
import { formatDate } from '@/utils/utils';

export async function getStaticPaths() {
  const blogEntries = await getCollection('blogs');
      console.log(blogEntries)

  return blogEntries.map(entry => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}

const { entry } = Astro.props;
const { Content } = await entry.render();
---

<MainLayout title={entry.data.title} isSlugPage={true}>
  <article class="max-w-4xl mx-auto px-4 py-8">
    <h1 class="text-4xl font-bold mb-4">{entry.data.title}</h1>
    <p class="text-gray-600 mb-4">By {entry.data.author} on {formatDate(entry.data.date)}</p>
    <img src={`/images/blogs/${entry.data.image}`} alt={entry.data.title} class="w-full h-64 object-cover mb-8">
    <div class="prose max-w-none">
      <Content />
    </div>
  </article>
</MainLayout>

<style is:global>
  p {
    margin: 2px 0;
  }
  h3 {
    margin: 10px 0;
    font-size: 1rem;
  }
</style>